.header_body {
  height: 90vh;
}
.presentacion-img {
  @include position_center;
}
.presentacion-text {
  color: $text-color-primary;
  font-family: "Lato";
  text-align: left;

  letter-spacing: 1px;
}
.iconos-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: $text-color-primary;
  font-size: 255%;
  & li {
    list-style: none;
  }
}
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.presentacion-perfil{
  flex-basis: 50%;
}
.presentacion-text{
  flex-basis: 50%;
}

.redes__link{
 
  & div:nth-child(2){
    margin-top: 35px;
  }
}
.redes__link--final{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  & a{
    // text-decoration: none;
    color: white;
    font-size: 105%;
    transition: all .3s;
    
  }

  & a:hover{
    color: green;
    font-weight: 800;
    background-color: rgba(41, 77, 177, 0.863);
    padding: 2px;
    transform: rotate3d(1, 1, 1, 19deg);
  }

}