header {
  // @include backdoor;
}
.header_body {
  background-size: cover;
  /*height: 33rem;*/
  background-blend-mode: darken;
  padding: 2%;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, $color-test, $color-test-1),
    url(/../../css/resources/img/fondo_principal.JPG);
  border-radius: 0.5%;
}
