/*@mixin general-tables {
	list-style: none;
	text-align: justify;
	font-family: sans-serif;
	font-size: 100%;
	color:$text-color-primary;
	font-weight: 300;
}*/
ul {
  height: 10%;
  list-style: none;
}

.biography {
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 5px;
}
.biography .sobre__mi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
  padding: 20px 0 20px 0;
}
.biography .sobre__mi div {
  flex-basis: 30%;
  border: red 1px solid;
  border-radius: 5px;
  background-color: khaki;
  padding: 5px;
}

.Test {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right bottom, #30E8BF, #FF8235);
  position: relative;
  border-radius: 0.5%;
}
.Test span {
  color: #f1f2f6;
  font-family: "Lato";
  font-size: 100%;
  text-align: center;
}
.Test--short-copy {
  font-family: "Lato";
  text-align: center;
  line-height: 2rem;
  font-size: 100%;
  height: 25vh;
}
.Test--long-copy {
  font-family: "Lato";
  font-size: 100%;
  text-align: center;
  padding: 1%;
  line-height: 2rem;
  height: 25vh;
}

.flex {
  display: flex;
  background-color: gray;
  flex-flow: column;
  justify-content: space-around;
  align-items: normal;
}
.flex--child__first {
  padding: 5px;
  margin: 5px;
  background-color: #9c928e;
  flex-flow: wrap;
}
.flex--child__first--tittle {
  text-align: center;
}
.flex--child__first--descripcion {
  text-align: justify;
}

.child--1 {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.child--2 {
  order: 2;
}
.child--2__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.child--3 {
  order: 3;
}

.card__tittle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.card__description {
  display: flex;
  align-items: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.courses--content {
  border-radius: 15px;
  height: 450px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 10px rgba(255, 255, 255, 0.73);
}
.courses--content:last-child {
  margin-top: 15px;
}

.header_body {
  height: 90vh;
}

.presentacion-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.presentacion-text {
  color: #f1f2f6;
  font-family: "Lato";
  text-align: left;
  letter-spacing: 1px;
}

.iconos-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: #f1f2f6;
  font-size: 255%;
}
.iconos-header li {
  list-style: none;
}

.perfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.presentacion-perfil {
  flex-basis: 50%;
}

.presentacion-text {
  flex-basis: 50%;
}

.redes__link div:nth-child(2) {
  margin-top: 35px;
}

.redes__link--final {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.redes__link--final a {
  color: white;
  font-size: 105%;
}
.redes__link--final a:hover {
  color: green;
  font-weight: 800;
}

.main__nav {
  text-align: center;
  font-family: "Lato";
  float: right;
}
.main__nav--list li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding-left: inherit;
}
.main__nav--list a {
  text-decoration: none;
  color: #3E4348;
  transition: all 0.3s;
}
.main__nav--list a:hover {
  color: ivory;
  font-weight: 300;
}

.experiencia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 10px;
}
.experiencia .card {
  flex-basis: 20%;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  box-shadow: red 10px 10px 10px;
}

.habilities {
  position: relative;
  padding: 1%;
  background-color: #919191;
  height: 70vh;
  margin-top: 55%;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.habilities--first {
  background-color: orangered;
}

.tables {
  margin-left: 25%;
  padding-bottom: 2%;
}
.tables--complete {
  background-color: cadetblue;
  border-radius: 5%;
}
.tables--header {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #3E4348;
  text-align: center;
}
.tables--descripcion ul {
  list-style: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 100%;
  color: #f1f2f6;
  font-weight: 300;
  line-height: 2rem;
}
.tables--description ul {
  border-bottom: 1px red solid;
}

.header_body {
  background-size: cover;
  /*height: 33rem;*/
  background-blend-mode: darken;
  padding: 2%;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #30E8BF, #FF8235), url(/../../css/resources/img/fondo_principal.JPG);
  border-radius: 0.5%;
}

/*# sourceMappingURL=style.css.map */
